/* src/components/Home.css */
.home-container {
  background-image: url('../assets/background.jpg');
  background-size: cover; /* This makes sure the image covers the entire area */
  background-position: center;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
  color: white; /* Text color on top of the image */
}

.home-container {
  font-family: 'Roca One', sans-serif;
  font-size: 32px; /* Default font size for the page */
}

.home-content {
  max-width: 800px; /* Limit the width of the content */
  margin: 0 auto; /* Center the content horizontally */
}

.home-section {
  margin-bottom: 40px; /* Space between sections */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.home-text {
  animation: fadeIn 2s ease-in-out;
  opacity: 0; /* Start hidden */
  animation-fill-mode: forwards; /* Ensure it stays visible after the animation */
}